.btn {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-primary {
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: 1px solid var(--foreground-color);
}

.btn-secondary {
    color: var(--background-color);
    background-color: var(--foreground-color);
    border: 1px solid var(--foreground-color);
}

.btn-sm {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
}
